.UI-dropdown-menu {
    position: relative;
    display: inline-block;
    color: rgb(27, 27, 27);
}

.dropdown-btn {
    display: flex;
    font-size: 16px;
    padding-bottom: 10px;
    width: 280px;
    border: none;
    border-bottom: 2px solid;
    border-color: rgb(151, 151, 151);
    justify-content: space-between;
    align-items:center
}

.dropdown-btn:hover {
    border-color: rgb(61, 40, 225);
}

.arrow { 
    display: inline-block;
    vertical-align: middle;
    border: solid black;
    border-width: 0 1.5px 1.5px 0;
    padding: 3px;
    transform: rotate(45deg);
    text-align: right;
}

.menu-list {
    display: none;
    width: 280px;
    flex-direction: column;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.list-element {
    color: rgb(27, 27, 27);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.list-element:hover {
    background-color: rgb(61, 40, 225);
    color: #FFFFFF !important;
}

